{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    <h3>Total Counts</h3>
    <table id="counts" class="table table-striped">
        <thead>
        <tr>
            <th>Work Type</th>
            <th>Number</th>
        </tr>
        </thead>
        <tbody>
        {% for total in totals %}
            <tr>
                <td>{{ total.work_type }}</td>
                <td>{{ total.number }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <h3>Total per Client</h3>

    {% if works %}
        <table id="works" class="table table-striped">
            <thead>
            <tr>
                <th>Client</th>
                <th>Amount</th>
                <th>Jobs</th>

                <th>Avg/Job</th>
            </tr>
            </thead>
            <tbody>
            {% for work in works %}

                <tr>
                    <td> {{ work.name }}</td>
                    <td>{{ work.amount }}</td>
                    <td>{{ work.jobs }}</td>

                    <td>{{ (work.amount / work.jobs) | round(2,'common') }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>


    {% else %}
        No creations are available.
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}

