{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    <h1>Reports</h1>
    <ul>
        <li><a href="#counts">Total Counts</a></li>
        <li><a href="#works">Total per Client</a></li>
        <li><a href="#annual">Annual Earnings</a></li>
    </ul>


    <h3 id="counts">Total Counts</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Work Type</th>
            <th>Number</th>
        </tr>
        </thead>
        <tbody>
        {% for total in totals %}
            <tr>
                <td>{{ total.work_type }}</td>
                <td>{{ total.number }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <h3 id="works">Total per Client</h3>

    {% if works %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Client</th>
                <th>Amount</th>
                <th>Jobs</th>

                <th>Avg/Job</th>
            </tr>
            </thead>
            <tbody>
            {% for work in works %}

                <tr>
                    <td> {{ work.name }}</td>
                    <td>{{ work.amount }}</td>
                    <td>{{ work.jobs }}</td>

                    <td>{{ (work.amount / work.jobs) | round(2,'common') }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

        <h3 id="annual">Annual Earnings</h3>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="earning col-md-8">
                
                <canvas id="YearlyEarningsChart"></canvas>
            </div>
            <div class="col-md-2"></div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Year</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for annual in annuals %}
                <tr>
                    <td>{{ annual.year_sub }}</td>
                    <td>{{ annual.pay }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    {% else %}
        No creations are available.
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>

    <script>
        var ctxL = document.getElementById("YearlyEarningsChart").getContext('2d');

        var yearly = {{ yearly|json_encode|raw }};
        var yearly_sum = {{ yearly_sum|json_encode|raw }};

        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: yearly,
                //labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "Earnings",
                    data: yearly_sum,
                    //data: [65, 59, 80, 81, 56, 55, 40, 55, 976, 44, 77],
                    backgroundColor: [
                        'rgba(105, 0, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(200, 99, 132, .7)',
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true
            }
        });


    </script>
{% endblock %}

