{% extends 'base.html.twig' %}

{% block title %}Client Detail{% endblock %}

{% block body %}
    <div class="row">
    <div class="card col-md-3 ui-state-default">
    <h3>{{ client.name }}</h3>
    <p>{{ client.getClientLast }}, {{ client.getClientFirst }}</p>
    <div>
        {% if client.parent %}

        Parent: <a href="{{ client.parent.id }}">{{ client.parent }}</a>

        {% endif %}
    </div>
    <div>
        <strong>Notes:</strong><br/> {{ client.notes }}
    </div>
        <a href="/client/edit/{{ client.id }}" class="btn btn-light">Edit</a>



    {% if parents %}
        <h3>Child Clients</h3>



<table id="children" class="table table-striped">
    <thead>
    <tr>
        <th>Client</th>
    </tr>
    </thead>
    <tbody>
        {% for parent in parents %}
        <tr>
            <td><a href="{{ parent.id }}">{{ parent }}</a></td>

        </tr>

        {% endfor %}
    </tbody>
    </table>
    {% endif %}
    </div>
    <div class="card col-md-8 ui-state-default">
        <div class=earning">
            <h4>Earnings over Time</h4>
            {% if parents %} Lifetime earnings all clients:  {{ child }}  {% else %} Lifetime earnings: {{ total }} {% endif %}<br>
            {% if parents %}

            <canvas id="ChildEarningsChart"></canvas>
            {% else %}
            <canvas id="EarningsChart"></canvas>
            {% endif %}
        </div>
    </div>
    </div>
        {% if client.works %}
            {% if wips %}
            <h3>In progress</h3>
            <table id="works" class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>


                {% for wip in wips %}
                    <tr>
                        <td><a href="/work/{{ wip.id }}">{{ wip }}</a></td>

                    </tr>

                {% endfor %}
                </tbody>

            </table>
            {% endif %}
        <h3>Works</h3>
            <table id="works" class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>


                {% for work in works %}
                    <tr>
                        <td><a href="/work/{{ work.id }}">{{ work }}</a></td>

                    </tr>




                {% endfor %}
                </tbody>

            </table>

        {% endif %}

    </p>
    <hr>
    <a href="/clients">Back to client menu</a>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
    <script>
        var ctxL = document.getElementById("EarningsChart").getContext('2d');

        var monthly = {{ monthly|json_encode|raw }};
        var monthly_sum = {{ monthly_sum|json_encode|raw }};

        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: monthly,
                //labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "Earnings",
                    data: monthly_sum,
                    //data: [65, 59, 80, 81, 56, 55, 40, 55, 976, 44, 77],
                    backgroundColor: [
                        'rgba(105, 0, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(200, 99, 132, .7)',
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true
            }
        });
        </script>

        <script>
        var ctxC = document.getElementById("ChildEarningsChart").getContext('2d');

        var child_monthly = {{ child_monthly|json_encode|raw }};
        var child_monthly_sum = {{ child_monthly_sum|json_encode|raw }};

        var myLineChartC = new Chart(ctxC, {
            type: 'line',
            data: {
                labels: child_monthly,
                //labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "Earnings",
                    data: child_monthly_sum,
                    //data: [65, 59, 80, 81, 56, 55, 40, 55, 976, 44, 77],
                    backgroundColor: [
                        'rgba(105, 0, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(200, 99, 132, .7)',
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true
            }
        });

    </script>




{% endblock %}
