{% extends 'base.html.twig' %}

{% block title %}Portfolio Works{% endblock %}

{% block body %}
<h1>{{ work.title }}</h1>
    {% if client %}
    <h3>Client: {{ client.name }}</h3>
    {% endif %}

    <p>
    <h4>Description</h4>
    {{ work.description }}
    </p>
    <p>
    <h4>Notes</h4>
    {{ work.notes }}
    </p>
    <p>Public URL:  <a href="{{ work.getPubUrl }}" target="_blank">{{ work.getPubUrl }}</a></p>
    <p>Private URL: <a href="{{ work.getPrivUrl }}" target="_blank">{{ work.getPrivUrl }}</a></p>

    <p>
        Ghost status:
    {% if work.getGhostInd %}
        Ghost-written
    {% else %}
        Authored
    {% endif %}
    </p>
    <p>Subjects:
    {% if work.subjects %}
    {% for subject in work.subjects %}
        {{ subject }} <br>
    {% endfor %}
    {% endif %}
    </p>
    <p>
        Type: {{ work.type }}
    </p>
    <p>
        Net Pay: {{ work.getNetPay }}
    </p>
    <p>
        Hours: {{ work.hours }}
    </p>
    <p>
        Hourly status:
        {% if work.hourly %}
            Hourly
        {% else %}
            Fixed
        {% endif %}
    </p>
    <p>
        Format: {{ work.format }}
    </p>
    <p>
        Submitted Date: {{ work.getDateSubmitted ? work.getDateSubmitted|date("m/d/Y") }}
    </p>
    <p>
        Published Date: {{ work.getDatePublished ? work.getDatePublished|date("m/d/Y") }}
    </p>
    <p>
        Platform: {{ work.platform }}
    </p>
    <p>
        Work Type:  {{ work.getWorkType }}
    </p>
    <hr>
    <a href="/">Back to menu</a>
{% endblock %}

