{% extends 'base.html.twig' %}

{% block title %}Portfolio Works by Subject{% endblock %}

{% block body %}
    <h2>Works by Subject: {{ subject }}</h2>



    {% if works %}
        <table id="works" class="table table-striped">
            <thead>
            <tr>
                <th>Work Title</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>


            {% for work in works %}

                <tr>
                    <td>
                        {% if work.getGhostInd == 0 %}
                        <span class="authored"> <a href="/work/{{ work.id }}">{{ work.title }}</a></span>
                        {% else %}
                        <a href="/work/{{ work.id }}">{{ work.title }}</a>
                        {% endif %}
                    </td>
                    <td> {{ work.getClientId }}</td>
                    <td>
                        <a href="/work/{{ work.id }}" class="btn btn-sm btn-dark">Detail</a>
                        <a href="/work/edit/{{ work.id }}" class="btn btn-sm btn-light">Edit</a>
                        <a href="#" class="btn btn-sm btn-danger delete-article" data-id="{{ work.id }}">Delete</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>

        </table>


    {% else %}
        No creations are available.
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}

